
@{
    ViewBag.Title = "AgentList";
}



@(Html.Kendo().Grid<ELand.Models.ApplicationUser>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.ProfileImage).Title("Img").ClientTemplate(@"<img width='50' height='50' src='../Images/Profile/#:ProfileImage #' />").Width(80).Sortable(false).Filterable(false);
          columns.Bound(c => c.FirstName);
          columns.Bound(c => c.LastName);
          columns.Bound(c => c.UserName);
          columns.Bound(p => p.Id).ClientTemplate(
    "<a class='btn btn-primary btn-xs' href='" +
        Url.Action("Edit", "Agent") +
        "/#= Id #'" +
    "><i class='glyphicon glyphicon-pencil'></i></a> <a class='btn btn-primary btn-xs' href='Agent/Index/#= Id #'" +
    "><i class='fa fa-search'></i></a>"
).Width(100).Title("").Filterable(false).Sortable(false);
          columns.Command(command => { command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Template(@<text>
            <a href="@Url.Action("Create","Agent")" class="btn btn-primary">Add Agent</a>
        </text>);


          toolbar.Excel();
          toolbar.Pdf();
      })
      .ColumnMenu()

      .Pageable()
      .Navigatable()
      .Selectable(selectable =>
      {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .Events(events =>
      {
          events.Remove("onRemove");
          events.Save("onSave");
      })
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.Id))
          .Read(read => read.Action("Agent_Read", "Dashboard"))
          .PageSize(20)
                                  .Destroy(destroy => destroy.Action("Agent_Destroy", "Dashboard"))
      ).HtmlAttributes(new { style = "height: 500px" })
)
<script src="~/Scripts/notify.min.js"></script>
<script>

    function onRemove(e){
        //Implement the event handler for Remove
        $.notify("Deleted", "success");
    }

    function onSave(e){
        //Implement the event handler for Save
        $.notify("Saved", "success");
    }

</script>
