@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="ct-panel--item ct-email">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </div>
        <div class="ct-panel--item ct-email">
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
    <div class="ct-panel--item ct-email">
        <a href="@Url.Action("Login", "Account")"><i class="fa fa-user"></i> Login</a>
    </div>
    <div class="ct-panel--item ct-email">
        <a href="@Url.Action("SignIn","Account")"><i class="fa fa-plus-square"></i> Register</a>
    </div>
}
