@using Kendo.Mvc;
@using ELand.Helper;
@{ViewBag.title = "UserList";}

﻿﻿@(Html.Kendo().Grid<ELand.Models.ApplicationUser>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.FirstName).Filterable(f => f.UI("nameFilter"));
        columns.Bound(c => c.LastName);
        columns.Bound(c => c.Phone);
        columns.Bound(c => c.Skype);
        columns.Bound(c => c.Email);
        columns.Command(command => {  command.Destroy(); }).Width(180);
      }).Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal to")
                .IsNotEqualTo("Is not equal to")
                .Contains("Contains")
            ))
        )   
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Scrollable().HtmlAttributes(new { style = "height:430px;" })
      .ClientDetailTemplateId("template")
      .Sortable().Pageable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Model(model => model.Id(p => p.Id))
          .Create(update => update.Action("User_Create", "User"))
          .Read(read => read.Action("ApplicationUsers_Read", "User"))
          .Update(update => update.Action("User_Create", "Grid"))
          .Destroy(x => x.Action("User_Delete", "User"))
          
      )
      
)





@section scripts{
    
<script id="template" type="text/kendo-tmpl">
  
    @(Html.Kendo().TabStrip()
                    .Name("tabStrip_#=Id#")
            .SelectedIndex(0)
            .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
            .Items(items =>
            {
                items.Add().Text("Personal Information").Content(
                    "<div style='margin-top:10px;'>"
                       + "<ul class='nav navbar-list'>"
                            + "<li><label>Id : </label>#= Id #</li>"
                            + "<li><label>First Name : </label>#= FirstName #</li>"
                            + "<li><label>Last Name : </label>#= LastName #</li>"
                            + "<li><label>Email : </label>#= Email #</li>"
                            + "<li><label>Skype : </label>#= Skype #</li>"
                            + "<li><label>Phone :</label>#= Phone #</li>"
                            + "<li><label>Twitter:</label>#= Twitter #</li>"
                            + "<li><label>IsAgencyAdmin:</label> #if(IsAgencyAdmin){#Yes#}else{#No#}#</li>"
                            + "<li><a href='" + Url.Action("Property_List", "User") + "?Id=#= Id #' class='btn btn-success' data-ajax='true' data-ajax-loading='\\#loading' data-ajax-method='GET' data-ajax-mode='replace' data-ajax-update='\\#res'>See All Properties</a></li>"
                       + "</ul>"
                    + "</div>"
                );
                @*items.Add().Text("Properties").Content(@<text>
                    @(Html.Kendo().Grid<ELand.Models.Property>()
                        .Name("grid_#=Id#") 
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.Id);
                            columns.Bound(o => o.Title);
                            columns.Template(x => { }).ClientTemplate("<a href='" +
              Url.Action("PropertyDetail", "User") +
                  "?PId=#= Id #'>Details</a>");
                        }).Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal to")
                .IsNotEqualTo("Is not equal to")
                .Contains("Contains")))) .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(5)
                            .Read(read => read.Action("Property_List", "User", new { Id = "#=Id#" })))
                            .Pageable()
                            .Sortable()
                            .ToClientTemplate())
                </text>
                );*@
            }).ToClientTemplate())



                    
</script>



<script type="text/javascript">

    function nameFilter(element) {
        element.kendoAutoComplete({
            dataSource: {
                transport: {
                    read: "@Url.Action("FirstName")"
                }
            }
        });
    }
</script>


    
    
    }