@using Kendo.Mvc;
@using ELand.Helper;
@{ViewBag.title = "UserList";}

﻿﻿@(Html.Kendo().Grid<ELand.Models.ApplicationUser>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.FirstName).Filterable(f => f.UI("nameFilter"));
        columns.Bound(c => c.LastName);
        columns.Bound(c => c.Phone);
        columns.Bound(c => c.Skype);
        columns.Bound(c => c.Email);
        columns.Template(x => {  }).ClientTemplate(
     "<a href='" +
                  Url.Action("User_Details", "User") +
                  "?Id=#= Id #' " +
              " class='btn btn-primary' data-ajax='true' data-ajax-loading='\\#loading' data-ajax-method='GET' data-ajax-mode='replace' data-ajax-update='\\#result' data-target='\\#myModal1' data-toggle='modal' >Details</a><a class='k-button' href='" +
                  Url.Action("User_Details", "User") +
                  "?Id=#= Id #' " +
              ">Delete</a><form action='"+Url.Action("User_Details", "User") +
                  "?Id=#= Id #'><input type='submit' value='Delete' onclick='return confirm(\"Are you sure you want to delete record with ID #= Id #\");' /></form>"
           

            ).Width(200);
      })
              .ToolBar(toolBar =>
          {
              toolBar.Template(@<text>
                   @Ajax.RawActionLink("<span class='fa fa-plus'></span> Add Create", "User_Create", "User", null, new AjaxOptions
              {
                  HttpMethod = "GET",
                  InsertionMode = InsertionMode.Replace,
                  UpdateTargetId = "result",
                  LoadingElementId = "loading"
              }, new { role = "button", data_toggle = "modal", data_target = "#myModal", @class="btn btn-primary" })
           </text>);
          }).Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal to")
                .IsNotEqualTo("Is not equal to")
                .Contains("Contains")
            ))
        )   
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Scrollable()
        .Sortable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Model(model => model.Id(p => p.Id))
          .Create(update => update.Action("User_Create", "User"))
          .Read(read => read.Action("ApplicationUsers_Read", "User"))
          .Update(update => update.Action("User_Create", "Grid"))
          .Destroy(update => update.Action("User_Create", "Grid"))
          
      )
      
)





@section scripts{
    
<script type="text/javascript">

    
    function nameFilter(element) {
        element.kendoAutoComplete({
            dataSource: {
                transport: {
                    read: "@Url.Action("FirstName")"
                }
            }
        });
    }
</script>


    
    
    }