@{
    ViewBag.Title = "About";
}


<div class="ct-site--map">
    <div class="container">
        <a href="@Url.Action("Index","Home")">Home</a>
        <a href="@Url.Action("About","Home")">About Us</a>
    </div>
</div>
<header class="ct-mediaSection text-center" data-stellar-background-ratio="0.3" data-height="540" data-type="parallax" data-bg-image="assets/images/demo-content/agency-parallax.jpg" data-bg-image-mobile="assets/images/demo-content/agency-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-headerText center-block">
                <span >Our mission is to bring you the most clean and user friendly real eland portal.</span>
            </div>
        </div>
    </div>
    <div class="ct-sectionButton">
        <div class="ct-buttonContent">
            <img src="~/Images/logosec.png" alt="">
        </div>
    </div>
</header>