
@{
    ViewBag.Title = "404";
}

<div class="ct-site--map">
    <div class="container">
        <a href="@Url.Action("Index","Home")">Home</a>
        <a href="#">Error 404</a>
    </div>
</div>
<header class="ct-mediaSection ct-u-text--white" data-stellar-background-ratio="0.3" data-height="628" data-type="parallax" data-bg-image="assets/images/demo-content/404-parallax.jpg" data-bg-image-mobile="assets/images/demo-content/404-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ct-headerText--normal">
                        <h2 class="text-uppercase ct-fw-600 ct-u-marginBottom50">
                            ooops!<br>
                           
                            404:<span class="ct-u-text--dark"> Page not found</span>
                        </h2>
                        <span class="ct-u-marginBottom50">Maybe the link you tried is not right, it never existed or got deleted.</span>


                        <a href="@Url.Action("Index","Home")" class="btn btn-default btn-hoverWhite">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
