@model ELand.Models.ViewModel.PropertyViewModel
@{
    ViewBag.Title = "Step4";
}

<h2>Step4</h2>

@*@Html.DisplayFor(x=>x.Title)
@Html.DisplayFor(x => x.Description)
@Html.DisplayFor(x => x.Address)
@Html.DisplayFor(x => x.Latitude)
@Html.DisplayFor(x => x.Longitude)
<img src="~/Images/Temporary/@Model.MainImage" />
@foreach (var item in Model.GalleryImages)
{
    <img src="~/Images/Temporary/@item" />
}*@
<div class="ct-site--map">
    <div class="container">
        <a href="index.html">Home</a>
        <a href="properties.html">Properties</a>
        <a href="product-single.html">Property ID</a>
    </div>
</div>
<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/demo-content/agency-parallax.jpg" data-bg-image-mobile="assets/images/demo-content/agency-parallax.jpg" style="min-height: 140px; height: 140px; background-image: url(&quot;assets/images/demo-content/agency-parallax.jpg&quot;); background-position: 50% -367.2px;">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-u-displayTableVertical">
                <div class="ct-textBox ct-u-text--white ct-u-displayTableCell text-left">
                    <h2 class="text-uppercase">15421 Southwest 39th terrace</h2>
                    <h4 class="text-uppercase">San Francisco, CA 55689</h4>
                    <span class="ct-productID ct-fw-600">
                        Property ID: 828219
                    </span>
                </div>
                <div class="ct-u-displayTableCell text-right">
                    <a href="search-grid.html" class="btn btn-sm btn-default btn-transparent--border btn-hoverWhite ct-u-text--white"><i class="fa fa-heart-o"></i></a>
                    <a href="javascript:window.print()" class="btn btn-sm btn-default btn-transparent--border btn-hoverWhite ct-u-text--white"><i class="fa fa-print"></i></a>
                    <div class="ct-buttonBox">
                        <a href="search-grid.html" class="btn btn-default btn-transparent--border btn-hoverWhite ct-u-text--white">Back to Results</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingBottom60">
    <div class="container">
        <div class="ct-productMeta--single text-uppercase">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell text-left">
                            <i class="fa fa-calendar"></i><h6>published on january 11th, 2015</h6>
                        </div>
                        <div class="ct-u-displayTableCell text-left">
                            <i class="fa fa-pencil-square-o"></i><h6>updated on january 12th, 2015 @ 15:45</h6>
                        </div>
                        <div class="ct-u-displayTableCell text-right">
                            <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/createITpl" data-layout="button" data-action="like" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=91&amp;href=https%3A%2F%2Fwww.facebook.com%2FcreateITpl&amp;layout=button&amp;locale=pl_PL&amp;sdk=joey&amp;share=false"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f2f4d6adac" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Dfcc1af008%26domain%3D%26origin%3Dfile%253A%252F%252F%252Ff182aa80a%26relation%3Dparent.parent&amp;container_width=91&amp;href=https%3A%2F%2Fwww.facebook.com%2FcreateITpl&amp;layout=button&amp;locale=pl_PL&amp;sdk=joey&amp;share=false" style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span></div>
                            <div id="___plusone_0" style="position: absolute; width: 450px; left: -10000px;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" width="100%" id="I0_1453615330845" name="I0_1453615330845" src="https://apis.google.com/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;annotation=none&amp;origin=file%3A%2F%2F&amp;url=file%3A%2F%2F%2FE%3A%2Frealnew3%2Fasasd%2Festato.html.themeforest.createit.pl%2Fproduct-single.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en_GB.jenS0AZhG5s.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCMBcX1w5DyZgJNzSFLOugz6296XJA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1453615330845&amp;parent=file%3A%2F%2F&amp;pfname=&amp;rpctoken=20434559" data-gapiattached="true"></iframe></div><div class="g-plusone" data-size="medium" data-annotation="none" data-gapiscan="true" data-onload="true" data-gapistub="true"></div>
                            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.baa54ded21a982344c4ced326592f3de.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=file%3A%2F%2F%2FE%3A%2Frealnew3%2Fasasd%2Festato.html.themeforest.createit.pl%2Fproduct-single.html&amp;size=m&amp;text=Estato%20-%20Developers%20HTML%20Template&amp;time=1453615331292&amp;type=share&amp;url=file%3A%2F%2F%2FE%3A%2Frealnew3%2Fasasd%2Festato.html.themeforest.createit.pl%2Fproduct-single.html" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 text-right">
                    <a href="#"><i class="fa fa-times"></i>report abuse</a>
                </div>
            </div>
        </div>
        <div class="ct-section--products">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="ct-gallery ct-u-marginBottom30">
                        <div class="ct-owl-controls--type2 owl-carousel owl-theme" data-single="true" data-pagination="false" data-navigation="false" id="sync1" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 12180px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(-4350px, 0px, 0px);">
                                    <div class="owl-item" style="width: 870px; opacity: 1;">
                                        <div class="item">
                                            <img src="assets/images/demo-content/gallery-image-1.jpg" alt="" style="opacity: 1;">
                                        </div>
                                    </div><div class="owl-item" style="width: 870px; opacity: 1;">
                                        <div class="item">
                                            <img src="assets/images/demo-content/gallery-image-2.jpg" alt="" style="opacity: 1;">
                                        </div>
                                    </div><div class="owl-item" style="width: 870px; opacity: 1;">
                                        <div class="item">
                                            <img src="assets/images/demo-content/gallery-image-3.jpg" alt="" style="opacity: 1;">
                                        </div>
                                    </div><div class="owl-item" style="width: 870px; opacity: 1;">
                                        <div class="item">
                                            <img src="assets/images/demo-content/gallery-image-4.jpg" alt="" style="opacity: 1;">
                                        </div>
                                    </div><div class="owl-item" style="width: 870px; opacity: 1;">
                                        <div class="item">
                                            <img src="assets/images/demo-content/gallery-image-5.jpg" alt="" style="opacity: 1;">
                                        </div>
                                    </div><div class="owl-item" style="width: 870px; opacity: 1;">
                                        <div class="item">
                                            <img src="assets/images/demo-content/gallery-image-6.jpg" alt="" style="opacity: 1;">
                                        </div>
                                    </div><div class="owl-item" style="width: 870px; opacity: 1;">
                                        <div class="item">
                                            <img src="assets/images/demo-content/gallery-image-7.jpg" alt="" style="opacity: 1;">
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                        <div class="ct-navigationThumbnail">
                            <div class="ct-owl-controls--type3 owl-carousel owl-theme" data-single="false" data-items="5" data-pagination="false" id="sync2" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 1134px; left: 0px; display: block; transform: translate3d(-162px, 0px, 0px); transition: all 200ms ease;">
                                        <div class="owl-item" style="width: 81px; opacity: 1;">
                                            <div class="item">
                                                <img src="assets/images/demo-content/gallery-thumbnail-1.jpg" alt="" style="opacity: 1;">
                                            </div>
                                        </div><div class="owl-item" style="width: 81px; opacity: 1;">
                                            <div class="item">
                                                <img src="assets/images/demo-content/gallery-thumbnail-2.jpg" alt="" style="opacity: 1;">
                                            </div>
                                        </div><div class="owl-item" style="width: 81px; opacity: 1;">
                                            <div class="item">
                                                <img src="assets/images/demo-content/gallery-thumbnail-3.jpg" alt="" style="opacity: 1;">
                                            </div>
                                        </div><div class="owl-item" style="width: 81px; opacity: 1;">
                                            <div class="item">
                                                <img src="assets/images/demo-content/gallery-thumbnail-4.jpg" alt="" style="opacity: 1;">
                                            </div>
                                        </div><div class="owl-item" style="width: 81px; opacity: 1;">
                                            <div class="item">
                                                <img src="assets/images/demo-content/gallery-thumbnail-5.jpg" alt="" style="opacity: 1;">
                                            </div>
                                        </div><div class="owl-item synced" style="width: 81px; opacity: 1;">
                                            <div class="item">
                                                <img src="assets/images/demo-content/gallery-thumbnail-6.jpg" alt="" style="opacity: 1;">
                                            </div>
                                        </div><div class="owl-item" style="width: 81px; opacity: 1;">
                                            <div class="item">
                                                <img src="assets/images/demo-content/gallery-thumbnail-7.jpg" alt="" style="opacity: 1;">
                                            </div>
                                        </div>
                                    </div>
                                </div>






                                <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="ct-heading ct-u-marginBottom20">
                                <h3 class="text-uppercase">Summary</h3>
                            </div>
                            <div class="ct-u-displayTableVertical ct-productDetails">
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Price</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span class="ct-price">$ 1 450 000</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Area</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>185 m2</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Status</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>Sale</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Type</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>House</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Location</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>San Francisco, CA 55689</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Beds</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>4</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Baths</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>2</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Garage</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>1</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableRow">
                                    <div class="ct-u-displayTableCell">
                                        <span class="ct-fw-600">Pool</span>
                                    </div>
                                    <div class="ct-u-displayTableCell text-right">
                                        <span>yes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="ct-heading ct-u-marginBottom20">
                                <h3 class="text-uppercase">Description</h3>
                            </div>
                            <p class="ct-u-marginBottom20">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere.
                            </p>
                            <div class="ct-heading ct-u-marginBottom20">
                                <h3 class="text-uppercase">Property Details</h3>
                            </div>
                            <div class="ct-u-displayTableVertical ct-productDetails--type2 ct-u-marginBottom20">
                                <div class="ct-u-displayTableCell">
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            <span class="text-capitalize">air conditioning</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            <span class="text-capitalize">ADSL cable</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            <span class="text-capitalize">WiFi</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-times-circle negative"></i>
                                            <span class="text-capitalize">HiFi audio</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            <span class="text-capitalize">fridge</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            <span class="text-capitalize">grill</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ct-u-displayTableCell">
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            <span class="text-capitalize">Full HD TV</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-times-circle negative"></i>
                                            <span class="text-capitalize">Digital antenna</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            <span>Kitchen with Island</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-times-circle negative"></i>
                                            <span class="text-capitalize">exotic garden</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-times-circle negative"></i>
                                            <span class="text-capitalize">guest house</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ct-heading ct-u-marginBottom20">
                                <h3 class="text-uppercase">Map</h3>
                            </div>
                            <div class="ct-js-googleMap ct-googleMap ct-js-googleMap--single" data-offset="1" data-location="Richmond" data-icon="assets/images/marker-house.png" data-zoom="14" data-height="260" id="map" style="min-height: 260px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 285px 130px 0px; transform: matrix(1, 0, 0, 1, 0, -1);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 80px; top: -183px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 336px; top: -183px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 336px; top: 73px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 80px; top: 73px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -176px; top: -183px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -176px; top: 73px;"></div></div></div></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 80px; top: -183px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 336px; top: -183px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 336px; top: 73px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 80px; top: 73px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -176px; top: -183px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -176px; top: 73px;"></div></div></div></div><div style="position: absolute; z-index: 0; transform: translateZ(0px); left: 0px; top: 0px;"><div style="overflow: hidden;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="transform: translateZ(0px); position: absolute; left: 80px; top: -183px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i4667!3i6345!4i256!2m3!1e0!2sm!3i336004516!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjF8cy5lOmwudC5mfHAuYzojZmY0NDQ0NDQscy50OjV8cC5jOiNmZmYyZjJmMixzLnQ6MnxwLnY6b2ZmLHMudDozfHAuczotMTAwfHAubDo0NSxzLnQ6NDl8cC52OnNpbXBsaWZpZWQscy50OjUwfHMuZTpsLml8cC52Om9mZixzLnQ6NHxwLnY6b2ZmLHMudDo2fHAuYzojZmY0MjVhNjh8cC52Om9u!4e0&amp;token=103058" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 336px; top: -183px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i4668!3i6345!4i256!2m3!1e0!2sm!3i336004660!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjF8cy5lOmwudC5mfHAuYzojZmY0NDQ0NDQscy50OjV8cC5jOiNmZmYyZjJmMixzLnQ6MnxwLnY6b2ZmLHMudDozfHAuczotMTAwfHAubDo0NSxzLnQ6NDl8cC52OnNpbXBsaWZpZWQscy50OjUwfHMuZTpsLml8cC52Om9mZixzLnQ6NHxwLnY6b2ZmLHMudDo2fHAuYzojZmY0MjVhNjh8cC52Om9u!4e0&amp;token=95662" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 336px; top: 73px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i4668!3i6346!4i256!2m3!1e0!2sm!3i336004660!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjF8cy5lOmwudC5mfHAuYzojZmY0NDQ0NDQscy50OjV8cC5jOiNmZmYyZjJmMixzLnQ6MnxwLnY6b2ZmLHMudDozfHAuczotMTAwfHAubDo0NSxzLnQ6NDl8cC52OnNpbXBsaWZpZWQscy50OjUwfHMuZTpsLml8cC52Om9mZixzLnQ6NHxwLnY6b2ZmLHMudDo2fHAuYzojZmY0MjVhNjh8cC52Om9u!4e0&amp;token=26826" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 80px; top: 73px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i4667!3i6346!4i256!2m3!1e0!2sm!3i336004660!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjF8cy5lOmwudC5mfHAuYzojZmY0NDQ0NDQscy50OjV8cC5jOiNmZmYyZjJmMixzLnQ6MnxwLnY6b2ZmLHMudDozfHAuczotMTAwfHAubDo0NSxzLnQ6NDl8cC52OnNpbXBsaWZpZWQscy50OjUwfHMuZTpsLml8cC52Om9mZixzLnQ6NHxwLnY6b2ZmLHMudDo2fHAuYzojZmY0MjVhNjh8cC52Om9u!4e0&amp;token=42659" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: -176px; top: -183px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i4666!3i6345!4i256!2m3!1e0!2sm!3i336003652!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjF8cy5lOmwudC5mfHAuYzojZmY0NDQ0NDQscy50OjV8cC5jOiNmZmYyZjJmMixzLnQ6MnxwLnY6b2ZmLHMudDozfHAuczotMTAwfHAubDo0NSxzLnQ6NDl8cC52OnNpbXBsaWZpZWQscy50OjUwfHMuZTpsLml8cC52Om9mZixzLnQ6NHxwLnY6b2ZmLHMudDo2fHAuYzojZmY0MjVhNjh8cC52Om9u!4e0&amp;token=8962" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: -176px; top: 73px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i4666!3i6346!4i256!2m3!1e0!2sm!3i336001709!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjF8cy5lOmwudC5mfHAuYzojZmY0NDQ0NDQscy50OjV8cC5jOiNmZmYyZjJmMixzLnQ6MnxwLnY6b2ZmLHMudDozfHAuczotMTAwfHAubDo0NSxzLnQ6NDl8cC52OnNpbXBsaWZpZWQscy50OjUwfHMuZTpsLml8cC52Om9mZixzLnQ6NHxwLnY6b2ZmLHMudDo2fHAuYzojZmY0MjVhNjh8cC52Om9u!4e0&amp;token=124347" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; transform-origin: 285px 130px 0px; transform: matrix(1, 0, 0, 1, 0, -1);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"><div style="border: 0px none; position: absolute; left: 259.649px; top: 29.6117px;"></div></div></div></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 135px; top: 40px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2016 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 167px; bottom: 0px; width: 121px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="">Map data ©2016 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2016 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 95px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div style="width: 25px; height: 25px; margin-top: 10px; overflow: hidden; display: none; margin-right: 14px; position: absolute; top: 0px; right: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/sv5.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 112px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@37.5406565,-77.4360481,14z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=37.540657,-77.436048&amp;z=14&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="ct-js-sidebar">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="widget ct-widget--calculator">
                                    <div class="widget-inner">
                                        <form role="form" class="ct-form--darkStyle">
                                            <div class="form-group">
                                                <div class="ct-form--label--type2">
                                                    <div class="ct-u-displayTableVertical">
                                                        <div class="ct-u-displayTableCell">
                                                            <div class="ct-input-group-btn">
                                                                <button class="btn btn-primary">
                                                                    <i class="fa fa-calculator"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="ct-u-displayTableCell text-center">
                                                            <span class="text-uppercase">Calculate Loan</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ct-form--item">
                                                    <label>Property Price ($)</label>
                                                    <input type="text" required="" class="form-control input-lg" placeholder="Any">
                                                </div>
                                                <div class="ct-form--item">
                                                    <label>Procent Down</label>
                                                    <input type="text" required="" class="form-control input-lg" placeholder="Any">
                                                </div>
                                                <div class="ct-form--item">
                                                    <label>Term (Years)</label>
                                                    <input type="text" required="" class="form-control input-lg" placeholder="Any">
                                                </div>
                                                <div class="ct-form--item">
                                                    <label>Interest Rate in %</label>
                                                    <input type="text" required="" class="form-control input-lg" placeholder="Any">
                                                </div>
                                                <div class="ct-form--item last">
                                                    <button type="submit" class="btn btn-warning">Calculate My Mortgage</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12">
                                <div class="widget">
                                    <div class="widget-inner">
                                        <h4 class="text-uppercase">Contact agent</h4>
                                        <div class="ct-personBox text-left">
                                            <div class="ct-imagePerson">
                                                <img src="assets/images/demo-content/agents-1.jpg" alt="">
                                                <ul class="ct-panel--socials list-inline list-unstyled">
                                                    <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                                    <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                                    <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                                                </ul>
                                            </div>
                                            <div class="ct-personContent">
                                                <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                                    <h5 class="ct-fw-600">Kristine Black</h5>
                                                    <a href="#">15 Properties</a>
                                                </div>
                                                <div class="ct-personDescription  ct-u-paddingBottom10 ct-u-marginBottom20">
                                                    <ul class="list-unstyled ct-contactPerson">
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>(123) 456 7890</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-mobile"></i>
                                                            <span>888 999 000</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-skype"></i> <a href="#">kristine.black</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="ct-personContact">
                                                    <div class="successMessage alert alert-success" style="display: none">
                                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                        Thank You!
                                                    </div>
                                                    <div class="errorMessage alert alert-danger" style="display: none">
                                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                        Ups! An error occured. Please try again later.
                                                    </div>
                                                    <form role="form" action="http://estato.html.themeforest.createit.pl/assets/form/send.php" method="post" class="contactForm validateIt" data-email-subject="Contact Form" data-show-errors="true">
                                                        <div class="form-group">
                                                            <div class="ct-form--item">
                                                                <input id="contact_name" type="text" required="" class="form-control input-lg ct-u-marginBottom10" name="field[]" placeholder="Name">
                                                                <input id="contact_email" type="email" required="" class="form-control input-lg ct-u-marginBottom10" name="field[]" placeholder="Email">
                                                                <input id="contact_phone" type="tel" required="" class="form-control input-lg ct-u-marginBottom10" name="field[]" placeholder="Phone">
                                                                <textarea id="contact_message" placeholder="Message" class="form-control input-lg" rows="4" name="field[]" required=""></textarea>
                                                            </div>
                                                            <button type="submit" class="btn btn-warning text-capitalize center-block">Send Message</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>