
@{
    ViewBag.Title = "SignIn";
}



<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Individual Registration</div>
                <div class="panel-body">Registration For Individual So that You can Post Property Information so Qucik to Start With Single Account</div>
                <div class="panel-footer"><a  class="btn btn-primary btn-lg" href="@Url.Action("RegisterIndividual","Account")"><i class="fa fa-5x fa-user"></i> Register</a></div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Agency Registration</div>
                <div class="panel-body">Registration for Agency With Multiusers Blongs to Angnce and Multiposting Supporting Panel</div>
                <div class="panel-footer"><a class="btn btn-success btn-lg" href="#"><i class="fa fa-5x fa-users"></i> Register</a></div>
            </div>
        </div>
    </div>
</div>
